.article {
    background-color: #003789;
    padding: 20px;
    margin: 10px 3px; /* Adjusted margin */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-title {
    color: #ffd700;
    text-align: center;
    margin-bottom: 10px;
}

.article-author {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.article-content {
    color: #fff;
    line-height: 1.6;
}

.header-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.article-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.read-more {
    display: block;
    background-color: #ffd700;
    color: #003789;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
