/* headers.css */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #003789; /* Match the blue background */
}

.logo {
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
}

.menu-toggle {
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons a {
    font-size: 24px;
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.nav-icons a:hover {
    color: #ff9900; /* Light orange hover color */
}
