/* Issues page styles */
.issues {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.issue {
    background-color: #003789;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.issue-thumb {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.issue-date {
    font-size: 1rem;
    font-weight: bold;
    color: #ff9900; /* Light orange color for the date */
}
