/* styles.css */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #003789;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.nav-icons {
    display: flex;
    gap: 15px;
}

.nav-icons a {
    text-decoration: none;
    font-size: 24px;
}

.menu-toggle {
    font-size: 24px;
}

.nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    background-color: white;
    top: 60px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links.active {
    display: flex;
}

main {
    padding-top: 70px;
}

footer {
    background-color: white;
    color: #003789;
    padding: 10px 0;
    text-align: center;
}
